* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "days one", sans-serif;
}

body {
  background: #171120;
  color: #fff;
}

.warpper {
  max-width: 1200px;
  margin: auto;
}
header {
  padding: 1.5rem 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul,
li {
  display: inline-block;
  list-style: none;
}
a {
  text-decoration: none;
}
.logo {
  font-size: 1.7rem;
  font-weight: 500;
  transition: 0.3s;
}
li a {
  padding: 0 15px;
  color: #8bbae9;
  font-weight: 400;
  font-size: 1.2rem;
}

li a:hover {
  color: #2cb67d;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6%;
}

.hero_img {
  padding-right: 100px;
}

.hero_content {
  padding-left: 100px;
}

.hero_content p {
  width: 70%;
}

.hero_content .hello span {
  padding: 15px 30px;
  background: #ff83cd;
  border-radius: 50px;
  border-bottom-left-radius: 0px;
  font-size: 22px;
  color: #000;
}

.hero_content h1 {
  margin-top: 30px;
  letter-spacing: 3.5px;
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero_content h1 span {
  font-size: 3rem;
  background: linear-gradient(90deg, #8bbae9, #ff83cd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero_content p {
  margin-bottom: 30px;
}

.btn{
    padding: 10px 20px;
    color: #fff;
    transition: .3s ease-in-out;
    border-radius: 10px;

}

.btn1{
    margin-right: 10px;
    border: 2px solid #8bbae9;

}

.btn1:hover{
    background: #8bbae9;
}

.btn2{
    border: 2px solid #ff83cd;
}   

.btn2:hover{
    background: #ff83cd;
}


.hero_img img{
    box-shadow: 0 0px 30px rgba(139, 186, 233,0.3);
    border-radius: 10px;
    animation: 1s alternate infinite;
}

@keyframes BoxShadow {
    
}